.introducao-bg {
  background: #000;
}
.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}
.introducao-conteudo {
  align-self: end;
  padding-bottom: 40px;
}
.introducao h1 {
  margin-bottom: 32px;
  line-height: 1.125;
  color: #25a9dd;
}
.introducao p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
  font-family: "Roboto";
  font-weight: 400;
}
@media (max-width: 800px) {
  .introducao-bg {
    background: #111;
    padding-top: 40px;
  }
  .introducao {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 450px) {
  .introducao h1 {
    margin-bottom: 16px;
  }
  .introducao img {
    display: none;
  }
}
