@import "./global.css";
@import "./header.css";
@import "./introducao.css";
@import "./tipografia.css";
@import "./utilidades.css";
@import "./cores.css";
@import "./servidores/servidores-lista.css";
@import "./servidores/servidores.css";
@import "./depoimento.css";
@import "./vip/vip.css";
@import "./footer.css";
@import "./termos.css";
@import "./contato.css";
@import "./formulario.css";
@import "./orcamento/orcamento.css";
@import "./vip/colaboracao.css";
