@import "./global.css";
@import "./header.css";
@import "./introducao.css";
@import "./tipografia.css";
@import "./utilidades.css";
@import "./cores.css";
@import "./servidores/servidores-lista.css";
@import "./depoimento.css";
@import "./vip/vip.css";
@import "./footer.css";
