.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#3882d9, #c7228b);
  border-radius: 4px;
  box-shadow: 0 2px 15px 0 #6960bd;
  text-transform: uppercase;
  color: yellow;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  transition: 0.4s;
  cursor: pointer;
}
.botao:hover {
  background: linear-gradient(#636468, #010203);
}
.botao.secundario {
  background: linear-gradient(#e15522, #fec657);
}
.botao.secundario:hover {
  background: linear-gradient(#636468, #010203);
}
.botao.seta::after,
.botao.secundario.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../img/seta.svg");
  transition: transform 0.3s;
}
.botao.seta:hover::after,
.botao.seecundario.seta:hover::after {
  transform: translateX(4px);
}
.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 620px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
/*titulo internos*/
.titulo-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--cor-PC);
}
.titulo {
  background: url("../img/dec/top-right.svg") no-repeat top right 20px;
}
.titulo p {
  margin-bottom: 4px;
}
@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 4px;
  }
  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
