.vip-bg {
  background: #141235;
}
.vip {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}
.vip h2 {
  color: #ffd701;
  grid-column: 1/-1;
  text-align: center;
}
.vip-item {
  background-color: var(--cor-P);
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
}
.vip-item h3 {
  margin-bottom: 40px;
}
.vip-item span {
  grid-column: 2;
  display: block;
  text-align: right;
}
.vip-item ul {
  grid-column: 1/-1;
  margin-bottom: 32px;
}
.vip-item li {
  display: flex;
  align-items: center;
  position: relative;
}
.vip-item li + li {
  margin-top: 20px;
}
.vip-item li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url("../../img/lista.svg");
  position: absolute;
  left: -21px;
}
.vip-item a {
  grid-column: 1/-1;
}
@media (max-width: 800px) {
  .vip {
    grid-template-columns: 1fr;
  }
}
