#orcamento {
  background: linear-gradient(var(--cor-PC) 450px, var(--cor-C));
}
.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}
.orcamento h2 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}
.orcamento h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background-color: var(--cor-LA);
  position: absolute;
  left: -12px;
}
.orcamento-produto,
.orcamento-dados {
  padding: 60px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}
.orcamento-produto {
  border-radius: 5px 0 0 5px;
  background: var(--cor-P);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-content: start;
}
.orcamento-produto > * {
  grid-column: 1/-1;
}
.orcamento-produto > label {
  grid-column: initial;
}
.orcamento-produto label {
  color: var(--cor-B);
  background-color: var(--cor-PC);
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 12px 16px;
  border-radius: 4px;
  font: 400 1rem/1.5 "Poppins" sans-serif;
  cursor: pointer;
  align-items: center;
  border: 2px solid var(--cor-P);
}
.orcamento-produto label:hover {
  border-color: aqua;
}
.orcamento-produto label::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 1px solid var(--cor-B);
  border-radius: 50%;
  margin-right: 8px;
}
.orcamento-produto label span {
  display: none;
}
.orcamento-produto input:checked + label span {
  display: inline-block;
}
.orcamento-produto input:checked + label::before {
  border-color: #cf1c87;
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 10px #cf1c87;
}
.orcamento-produto input:checked + label {
  background: #1d1232;
  color: #cf1c87;
}
.orcamento-dados {
  border-radius: 0 5px 5px 0;
  background: var(--cor-C);
}
#vip:checked ~ #orcamento-vip,
#hospedagem:checked ~ #orcamento-hospedagem {
  display: grid;
  gap: 20px;
}
.orcamento-produto input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.orcamento-conteudo {
  display: none;
}
.orcamento-conteudo h2,
.orcamento-dados h2:nth-of-type(n + 2) {
  margin-top: 20px;
}
.orcamento-detalhes {
  display: none;
  background: #492f54;
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  border-radius: 4px;
  align-items: center;
}
.orcamento-detalhes li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.orcamento-detalhes li img {
  width: 40px;
  margin-right: 8px;
}
.orcamento-produto input:checked + label + .orcamento-detalhes {
  display: grid;
}
@media (max-width: 1200px) {
  .orcamento-dados,
  .orcamento-produto {
    padding: 32px;
  }
}
@media (max-width: 800px) {
  .orcamento {
    grid-template-columns: 1fr;
  }
  .orcamento-dados {
    border-radius: 0 0 5px 5px;
  }
  .orcamento-produto {
    border-radius: 5px 5px 0 0;
  }
}
@media (max-width: 400px) {
  .orcamento-produto {
    grid-template-columns: 1fr;
  }
}
